.body{
    background-color: whitesmoke;
    padding: 20px;
}
.formss{
    background-color: rgb(61, 60, 60);
}
.heading2{
    margin-top: 40%;
    text-align: center;
    color: whitesmoke;
}
.main{
    margin-left: 10px;
    margin-right: 10px;
}
.main2{
float: left;
}
.mg-tp{
    margin-top: 5px;

}
.color{
    color: white;
    text-decoration: none;
    list-style: none;
}
.mg-bt{
    margin-bottom: 5px;
}
input.ng-invalid.ng-dirty{
    border-color:  #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}