<body class="body1">
  


<div class="loginform">

  
  <form #loginForm = 'ngForm' autocomplete="off" >
    <div class="col-md-3 p-2">
      <label for="exampleInputEmail1" class="form-label" required>Email adddress</label>
      <input type="email" class="form-control" required>
    </div>
    
    <div class="col-md-3 p-2">
      <label  for="exampleInputPassword1"  class="form-label" >Password </label>
      <input type="password" class="form-control" required>
    </div>  
    <div class="p-2">
      <button type="submit" class="btn btn-primary" (click)="exit()">Login</button>  
    </div>
    
          
  </form>

</div>



</body>
