<body class="body">
  <nav>
    <a href="" class="navbar-brand main head"> musicWorld </a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link one" aria-current="page" routerLink="/home" >Home</a>
      
    </li>
    <li class="nav-item">
      <a class="nav-link two" routerLink="/about" >Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link three"   routerLink="/login" >Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link four" routerLink="/registration">Register</a>
    </li>
  </ul>

  </nav>
  
    
  


    
  </body>
  <router-outlet></router-outlet>
  
 
  
