.body{
    background-color: whitesmoke;
    padding: 20px;
}
<<<<<<< HEAD
.head{
    font-size: 35px;
    color: #32a852;
    text-decoration: none;
    
}
.one{
  margin-top: -38px;
}
.two{
    margin-top: -38px;
  }
  .three{
    margin-top: -38px;
  }
  .four{
    margin-top: -38px;
    margin-right: 40px;
  }
=======
>>>>>>> 3f169e8b47b02c3617a2c50b53fcaa1a0e29835d
