<body class="home">
    
    <div class="left">
        <img src="../../assets/images/home.jpg" class="left-img" alt="">

    </div>
    <div class="right">
        <h1 class="right-heading">Where will <br> pleasant
        Music take you?</h1>
        <p class="right-para p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
             Officia porro et eveniet in.
        </p>
        <button class="right-btn p-2"><a class="right-a">Register</a> </button>
    </div>
    
</body>
